@font-face {
	font-family: 'ajicon';
	src:url('../fonts/ajicon.eot?k1hf4u');
	src:url('../fonts/ajicon.eot?#iefixk1hf4u') format('embedded-opentype'),
		url('../fonts/ajicon.woff?k1hf4u') format('woff'),
		url('../fonts/ajicon.ttf?k1hf4u') format('truetype'),
		url('../fonts/ajicon.svg?k1hf4u#ajicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
