/* Border Box */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body > header {
    width: 100%;
    margin: 0;
    height: 60px;
    position: relative;
}
body > header h1 {
    margin: 0;
    padding: 10px 0 10px 25px;
}
body > footer {
   height: 100px;
   padding-top: 40px; 
}
nav {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    float: left;
    padding: 0 15px;
    height: 60px;
    line-height: 60px; 
}

nav ul li {
    display: inline;
}

.intro {
    width: 100%;
    margin: 0;
    height: 300px;
    padding: 75px 0;
}
.intro h1, .intro h2 {
    margin: 7.5px 0;
}

.features ul{
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}
.features ul li{
    position: relative;
    padding: 40px 0 0 0;
    margin: 0;
    width: 50%;
    height: 250px;
    float: left;
    overflow: hidden;
}
article {
    clear: both;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
article > header, 
article > section{
    position: relative;
    /*width: 50%;*/
    /*float: left;*/
    padding: 0 10px;
}
article > header h3 {
    margin: 20px 0;
}
article ol li{
    margin-top: 10px; 
}

/* medium to small res */ 
@media only screen and (max-width: 900px) {
    article > header, 
    article > section{
        float: none;
        width: 100%;
    }

    .features ul{
        width: 100%;
    }
}
/*  small res */ 
@media only screen and (max-width: 500px) {
    .features ul li{
        width: 100%;
        float: none;
    }
    body > header{
        height: inherit;
    }
    nav {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        text-align: left;
        width: 100%;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        float: none;
        height: 60px;
        line-height: 60px; 
    }

    nav ul li {
        display: block;
    }
}
