/* Border Box */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Layout */

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.footer-container footer {
    padding: 20px 0;
}

@media only screen and (min-width: 480px) {
    nav a {
        float: left;
        width: 20%;
        margin: 0;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}
@media only screen and (min-width: 768px) {
    .header-container h1 {
        height: 40px;
    }
    .header-container h1 {
        float: left;
        width: 40%;
    }
    .header-container nav {
        float: right;
        width: 50%;
    }
    .main article {
        float: left;
        width: 60%;
    }
    .main aside {
        float: right;
        width: 30%;
    }
}
@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* Theme */

html {
    font-size: 1em;
    line-height: 1.4;
    color: #222;
}
body {
    font: 16px sans-serif;
}

pre{
    display: block;
    border: solid 1px #ddd;
    background-color: #eee;
    font-family: monospace;
    text-align: left;
    padding: 5px; 
}

.header-container{
    background: #333;
    -webkit-box-shadow: 0 5px 10px #aaa;
       -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
}

.header-container h1{
    margin: 0;
    padding: 5px 0;
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin: 5px 10px 0 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-bottom: solid 5px #333;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    border-bottom: solid 5px #34a33c;
}

.btn {
    display: block;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ddd;
    background: #eee;
    color: #444;
    -webkit-box-shadow: 0 1px 5px #aaa;
       -moz-box-shadow: 0 1px 5px #aaa;
            box-shadow: 0 1px 5px #aaa;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    
}

.btn:hover{
    color:#34a33c;
}

.main header{
    padding: 5px;
    color:#34a33c;    
}
.main header h1{ 
    margin: 5px 0;
    font-size: 2em;
}
.main header h2{
    margin: 5px 0;
    font-size: 1.8em;
    font-style: italic;
}
.main article{
    padding: 5px;
}
.main aside{
    margin-top: 15px;
}
.main aside ul {
    border: solid 1px #34a33c;
    background-color: #A9EAAD;
    padding: 5px 5px 5px 25px;
    margin: 5px 10px;
    list-style-type: circle;
    -webkit-box-shadow: 0 1px 5px #aaa;
       -moz-box-shadow: 0 1px 5px #aaa;
            box-shadow: 0 1px 5px #aaa;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.footer-container {
    border-top: solid 20px #34a33c;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.footer-container code{
    font-family: monospace;
    font-size: .9em;
}
.footer-container a{
    color: #fff;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ajicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\f09b";
}
.icon-cloud-download:before {
	content: "\f0ed";
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Print */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
