
/* Theme */
/*
    colors: #34a33c,  #5DB563;
*/
html {
    font-size: 1em;
    line-height: 1.4;
    color: #222;
}
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #34a33c;
    transition: color 0.5s linear;
}
a:hover{
    color: #5db563;
    transition: color 0.5s linear;
}
a .icon{
    margin-right: 3px;
}

.inline{
    font-family: Consolas,Monaco,"Andale Mono",monospace;
    background-color: #272822;
    padding: 2px 5px;
    border-radius: 3px;
    color: #F8F8F2;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

.warning {
    padding: 5px;
    border-radius: 2px;
    background-color: #fff;
}

.icon {
	font-family: 'ajicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shield:before {
	content: "\f132";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-download:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}

body > header{
    background: #333;
    color: #fff;
}
body > footer {
    font-size: .9em;
    text-align: center;
    border-top: solid 10px #333;
    background-color: #ddd;
}
nav {
    background: #333;
}
nav a {
    position: relative;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
nav a:hover{
    color: #34a33c;
    transition: color 0.5s linear;
}
nav a:before{
    opacity: 0;
    top: 40px;
    content: '';
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    border: solid 10px transparent;
    border-top: solid 10px #333;
}
nav a.active:before, nav a:hover:before {
    top: 60px;
    opacity: 1;
    transition: all 0.4s ease;
}

.intro{
    background: #5DB563;
    color: #333;
    text-shadow: 1px 1px #ccc;
    text-align: center;
}
.intro h1{
    font-size: 3.5em;
}
.intro h2{
    font-size: 2em;
}

.features {
    color: #5DB563;
}
.features li {
    text-align:center;
    background-color: #f6f6f6;
    border: solid 1px #fff;
}
.features .icon{
    font-size: 4.5em;
}
.features h4{
    margin: 0;
    font-size: 2em;
}
.features strong{
    font-size: 2em;
    font-weight: bold;
}
article > header {
    background: #5DB563;
    color: #333;
}
article > header h3{
    color: #333;
    font-size: 2em;
    text-shadow: 1px 1px #ccc;
}
article > header h3:before{
    content: '# ';
    font-style: italic;
}
article > section {
    background: #f6f6f6;
    border-bottom: solid 1px #fff;
}

#install ul{
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

#install ul li{
    position: relative;
    padding: 40px 0 0 0;
    margin: 0;
    width: 25%;
    height: 250px;
    float: left;
    overflow: hidden;
    text-align: center;
}

#install ul li a{
    font-size: 4em;
    display: block;
}
#install ul li a img{
    opacity: 1;
    transition: opacity 0.5s linear;
}
#install ul li a:hover img{
    opacity: 0.8;
    transition: opacity 0.5s linear;
}
